
<mat-card id="last-update">
    <h2>Tuesdays Nov 12. 2021</h2>
    <p><strong>User Code:</strong> BSR</p>
    <p><strong>Last Port:</strong> Sikka</p>
    <p><strong>Next Port:</strong> Houston</p>
    <p><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa obcaecati itaque nihil harum laborum numquam quas, inventore dolores quam incidunt
         totam tempore corporis ratione? Harum, deleniti. Cumque sint voluptates optio.</p>
    <div class="btn-box">
        <button>Confirm</button>
        <button>Update</button>
    </div>     
</mat-card>
<mat-expansion-panel hideToggle id="itinerary-history">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Past Itinerary Updates
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div id="itin-item">
      <h4>Thursday Oct 28th 2021</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia, nostrum sint deserunt exercitationem 
        vel sed nemo quis provident recusandae ea, illo necessitatibus corrupti, ab dolores quisquam magnam itaque consequatur!</p>
      <p>BSR</p>
    </div>
    <div id="itin-item">
      <h4>Thursday Oct 28th 2021</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia, nostrum sint deserunt exercitationem 
        vel sed nemo quis provident recusandae ea, illo necessitatibus corrupti, ab dolores quisquam magnam itaque consequatur!</p>
      <p>BSR</p>
    </div>
    <div id="itin-item">
      <h4>Thursday Oct 28th 2021</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia, nostrum sint deserunt exercitationem 
        vel sed nemo quis provident recusandae ea, illo necessitatibus corrupti, ab dolores quisquam magnam itaque consequatur!</p>
      <p>BSR</p>
    </div>
    <div id="itin-item">
      <h4>Thursday Oct 28th 2021</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia, nostrum sint deserunt exercitationem 
        vel sed nemo quis provident recusandae ea, illo necessitatibus corrupti, ab dolores quisquam magnam itaque consequatur!</p>
      <p>BSR</p>
    </div>
</mat-expansion-panel>
