
<mat-card id="last-update">
    <h2>Tuesdays Nov 12. 2021</h2>
    <p><strong>User Code:</strong> BSR</p>
    <p><strong>Last Port:</strong> Sikka</p>
    <p><strong>Next Port:</strong> Houston</p>
    <p><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa obcaecati itaque nihil harum laborum numquam quas, inventore dolores quam incidunt
         totam tempore corporis ratione? Harum, deleniti. Cumque sint voluptates optio.</p>
    <div class="btn-box">
        <button>Confirm</button>
    </div>     
</mat-card>
<mat-expansion-panel hideToggle id="itinerary-history">
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
