#last-update{
    width: 100%;
    padding:20px;
    background-color: #F4F4F2;
    display: flex;
    flex-direction: column;
}
#itinerary-history{
    width: 100%;
    padding:20px;
    margin: 10px 0;
    background-color: #F4F4F2;
}

.btn-box{
    display: flex;
    flex-direction: row-reverse;
}
button{
    background-color: #BBBFCA;
    padding: 10px;
    border-radius: 15%;
    border:0;
    -webkit-box-shadow: 5px 5px 17px 7px rgba(0, 0, 0, 0.109); 
    box-shadow: 5px 5px 17px 7px rgba(0, 0, 0, 0.109);
    margin: 10px;
}
#itin-item{
    display: flex;
    flex-direction: column;
    width: inherit;
    border-bottom: 1px solid  #BBBFCA ;
}
#page-navigation{
    display: flex;
    flex-direction: row;
    width:inherit;
    justify-content: space-between;
    padding:20px;
}
#progress-bar{
    width: 100%;
    margin-bottom: 20px;
}
#status{
    width: 100%;
}